<!doctype html>
<html>
  <head>
    <title>Example of the Authorization Code flow with Spotify</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <div id="loggedin">
        <div id="user-profile">
          <h1>Logged in as {{ data.display_name }}</h1>
          <div class="media">
            <div class="pull-left">
              <img class="media-object" width="150" src="{{ data.images.0.url }}" />
            </div>
            <div class="media-body">
              <dl class="dl-horizontal">
                <dt>Display name</dt><dd class="clearfix">{{ data.display_name }}</dd>
                <dt>Id</dt><dd>{{ data.id }}</dd>
                <dt>Email</dt><dd>{{ data.email }}</dd>
                <dt>Spotify URI</dt><dd><a href="{{ data.external_urls.spotify }}">{{ data.external_urls.spotify }}</a></dd>
                <dt>Link</dt><dd><a href="{{ data.href }}">{{ data.href }}</a></dd>
                <dt>Profile Image</dt><dd class="clearfix"><a href="{{ data.images.0.url }}">{{ data.images.0.url }}</a></dd>
                <dt>Country</dt><dd>{{ data.country }}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
